<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<title>Functions</title>
</head>
<body>

<!-- you can use the '|' to continue processing items through functions -->
{{. | fsq}}
{{. | db | fsq}}
{{. | db | fsq | fsqrt}}

</body>

</html>